:root{
    --brading-color: black;
    --secondary-color: rgb(252, 250, 247)
    --heading-font-family: "Playfair Display", serif;
    --default-font-family: "poppins", sans-serif;
}

body{
    font-family: var(--default-font-family);
}

h1, h2, h3, h4, h5, h6 {
color:black;
font-family: "Playfair Display", serif;
font-weight: bold;
}

    
p{
    font-family:"poppins", sans-serif;
    font-size: normal;
    line-height: 30px;
}
.hero{
    text-align: center;
    background-color: rgb(252, 250, 247);
    padding: 160px 20px;
    color: 

}
.hero p{
    font-size:36px;
}
.hero h2{
    font-family:"poppins", sans-serif;
    font-weight: normal;
     font-size: 24px;
     margin:0;
     line-height: 2;
}
h1{
    font-size: 96px;
    border-radius: 4px;
}
.btn-branding{
    background: black;
    font-size: 18px;
    color: white;
    font-size: 18px;
    line-height: 12px;
    padding: 15px 30px;
}
h2{
    font-size: 64;
}
p {
    font-size: 16px;
    font-size:normal;
}
.btn-branding-outline{
    background:var(--brading-color);
    font-size: 18px;
    color: white;
    font-size: 18px;
    line-height: 12px;
    padding: 15px 30px;
    border: 2px;
}
@media (max-width:900px){
    h1{
        font-size: 44px;
        line-height: 1.5;
    }
    h2{
        font-size: 44px ;
    }
    .project-description {
        padding: 0;
        text-align: center;
    }
}
   

